.footer {
    background-color: var(--footer-bg-color);
    padding-top: 60px;
    padding-bottom: 60px;
}
.footer-nav {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;

}
address {
    margin-top: 20px;
}
.footer-address__link {
    font-style: normal;
    line-height: 1.7;
    color: var(--accent-color);
}
.footer-contact__link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);

        &:hover,
        &:focus {
            color: var(--hover-color);
        }
}
.footer-contact__item:not(:last-child) {
    margin-bottom: 9px;
}


.communications {
    margin-left: 70px;
}
.communications__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: var(--accent-color);
    text-transform: uppercase;
}

.social-media__link {
    display: flex;
    width: 44px;
    height: 44px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    fill: var(--accent-color);

    transition: background-color 250ms var(--cubic);
        &:hover,
        &:focus {
                background-color: var(--hover-color);
                outline: none;
            }
}

.social-media {
    margin-top: 20px;
    display: flex;
}

.social-media__item:not(:last-child) {
    margin-right: 10px;
}

/* footer form */
.form-subscribe {
    margin-left: auto;
}
.footer-input {
    width: 360px;
    padding: 15px 0 15px 16px;
    line-height: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: var(--footer-bg-color);
    color: var(--accent-color);

        &::placeholder {
    
            font-size: 16px;
            line-height: 1.25;
            color: rgba(255, 255, 255, 0.6);
        }
}

.footer-label {
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--accent-color);
    margin-bottom: 20px;
}

.form-footer {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

.footer-field {
    display: flex;
    flex-direction: column;
    margin-right: 12px;
}

.icon-send {
    fill: var(--accent-color);
}

.btn-subscribe {
    display: flex;
    justify-content: space-between;
    padding: 0px 28px;
}
