.features {
    display: flex;
    flex-wrap: wrap;
}
.features__item {
    flex-wrap: wrap;
    width: 270px;
    &:not(:last-child) {
            margin-right: 30px;
        }
}

.features__tumb {
    background-color: var(--secondary-bg-color);
    margin-bottom: 30px;
    width: 270px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.features__title {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--primary-text-color);

    margin-bottom: 10px;
}

.features__text {
    line-height: 1.7;
    color: var(--title-text-color);
}

// What are we doing

.solutions {
    padding-top: 0;
}

.services {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
}
.services__item {
    position: relative;
    &:not(:last-child) {
            margin-right: 30px;
        }
}

.services__text {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    text-align: center;
    color: var(--accent-color);
    background-color: rgba(47, 48, 58, 0.8);

    position: absolute;
    width: 100%;
    height: 70px;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}