.btn-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &__item:not(:last-child) {
        margin-right: 8px;
    }
}

.button-portfolio {
    cursor: pointer;
    background-color: var(--secondary-bg-color);
    border-radius: 4px;
    border: none;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    color: var(--primary-text-color);
    padding: 6px 22px;

    transition: background-color 250ms var(--cubic),
        color 250ms var(--cubic),
        box-shadow 250ms var(--cubic);

        &:hover,
        &:focus {
                color: var(--accent-color);
                background-color: var(--hover-color);
                box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
                    0px 1px 2px rgba(0, 0, 0, 0.08),
                    0px 2px 2px rgba(0, 0, 0, 0.12);
                outline: none;
            }
}

.product-info__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primary-text-color);

    margin-bottom: 4px;
}

.product-info__text {
    font-size: 16px;
    line-height: 1.9;
    color: var(--title-text-color);
}

.product {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
}

.product__item {
    margin-right: 30px;
    margin-bottom: 30px;
        &:nth-child(3n) {
                margin-right: 0;
            }
        &:nth-last-child(-n + 3) {
            margin-bottom: 0;
        }
}

.product-info {
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    padding: 20px 24px;
}

.product__link {
    display: block;
    position: relative;

    transition: box-shadow 250ms var(--cubic);

        &:hover,
        &:focus {
                box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
                    0px 4px 4px rgba(0, 0, 0, 0.06),
                    1px 4px 6px rgba(0, 0, 0, 0.16);
                outline: none;
            }
        &:hover .product__actions {
                transform: translateY(0);
            }
}

/* Overlay */
.product__text {
    font-size: 18px;
    line-height: 28px;
    color: var(--accent-color);
}

.product__thumb {
    position: relative;
    overflow: hidden;
}

.product__actions {
    position: absolute;
    width: 100%;
    height: 100%;

    background-color: rgba(33, 150, 243, 0.9);
    padding: 63px 24px;

    top: 0;
    left: 0;

    transform: translateY(100%);
    transition: transform 250ms var(--cubic);
}